@font-face {
  font-family: "DK Midnight Chalker";
  src: url("/fonts/DK\ Midnight\ Chalker.otf");
}

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DK Midnight Chalker";
  color: #360000;
}

h1 {
  --font-size: 4rem;
}

h2 {
  --font-size: 3.5rem;
}

h3 {
  --font-size: 3rem;
}

h4 {
  --font-size: 2.5rem;
}

h5 {
  --font-size: 2rem;
}

a {
  color: white;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
